*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fefffe;
    --off-white: #daddda;
    --blue: #002b87;
    --light-blue: #5b9bd0;
    --yellow: #fdcc01;
    --red: #9e1001;
}

html {
    font-family: "roboto", sans-serif;
    font-size: 16px;
}

header {
    background-color: var(--blue);
    color: var(--off-white);
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo-text {
    color: var(--white);
    font-weight: 900;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: var(--off-white);
}

li {
    list-style: none;
}
.nav-links {
    display: flex;
    gap: 16px;
    color: var(--yellow);
    padding-right: 30px;
}

section.hero {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    gap: 240px;
}

.hero-left {
    padding-bottom: 24px;
    padding-top: 64px;
    width: 400px;
    height: 250px;
}

.hero-left h1 {
    color: var(--yellow);
    margin-bottom: 4px;
    font-size: 48px;
    font-weight: bolder;
}

.hero-left p {
    margin: 14px 0;
    font-size: 18px;
}

.hero-button {
    color: var(--white);
    text-shadow: 1px 1px black;
    background-color: var(--red);
    border: none;
    border-radius: 8px;
    width: 170px;
    height: 40px;
    font-weight: bold;
}

#Logo {
    max-height: 100%;
    width: auto;
}

/* staff section */
section.staff {
    padding: 45px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 36px;
}
.section-2-wrapper h2 {
    text-align: center;
    font-size: 36px;
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.staff-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.staff-card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    border: 5px solid var(--red);
}

.staff-card :nth-child(2) {
    font-weight: 600;
    font-size: 18px;
}
.staff-card :nth-child(3) {
    font-weight: bold;
    color: var(--blue);
}

 /* quote section */

section.quote {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 25%;
    gap: 12px;
}

.section-3-wrapper p {
    font-size: 26px;
    font-weight: bold;
    color: var(--blue);
    align-self: flex-end;
}

blockquote {
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
    color: black);
}

/* Call to Action section */

section.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

section div.container {
    border-radius: 8px;
    background-color: var(--red);
    padding: 24px 48px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 36px;
}

.CTA-title {
    color: var(--white);
    font-weight: bold;
}

.CTA-subText {
    color: var(--off-white);
}

.CTA-button {
    color: var(--white);
    background-color: var(--red);
    border: 1px solid var(--white);
    border-radius: 8px;
    width: 170px;
    height: 40px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--blue);
    height: 64px;
}